body{
    font-family: font-family: 'Noto Sans TC', sans-serif;
    margin: zero;
}
h1{
    font-size: 70px;
}
.orange-color{
    color: orange;
}
section{
    display: flex;
}
.half-width{
    float: left;
    width: 50%;
    margin-left: 10%;
}
.half-width img{
    width: 80%;
    float: right;
}
.link-button{
    margin-top: 20px;
    padding: 10px 20px;
    background-image: linear-gradient(orange, yellow);
    border: none;
    border-radius: 4px;
}
.center {
    text-align: center;
    margin-top: 40%;
    margin-bottom: 0%;
}
.biography{
    float: left;
}
.biography-img{
    width:50%;
    margin-left: 10%;
}
.about-me{
    font-size: 20px;
}